.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 20px);
    padding: 10px;
    gap: 5px;
    box-shadow: 5px 9px 14px -5px #626B8B;
    width: 180px;
    background-color: #FFFFFF;
}